@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #504E50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #f58634;
  --color-secondary: #f79e5d;
  --color-third: #bbbabb;
  --color-dark: #504e50;

  --font-sans: var(--font-public-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #bbbabb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
